
<h1 class="lead">Insert a product </h1>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="/api/products" method="post">
            <div class="form-group row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" placeholder="Nombre" required/>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-10">
                <input type="number" class="form-control" id="price" name="price" step="0.01" placeholder="Precio" required/>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">URL imagen</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="http://url.com/producto.jpg" required/>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-lg"> Enviar </button>
            </div>
            </form>
        </div>
    </div>
</div>