<div class="container">
    <table class="table table-dark mt-3" id="product-table">
        <head>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Price</th>
                <th>Thumbnail</th>
            </tr>
        </head>
        <tbody id="product-tbody"></tbody>
    </table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/index.js"></script>