<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/view">Product list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.iconfinder.com/" target="_blank" rel="noopener noreferrer">Get photos</a>
      </li>
    </ul>
  </div>
</nav>