<link rel="stylesheet" href="css/styles.css">
<script src="/socket.io/socket.io.js"></script>

<h1 class="alert alert-success">
    Welcome {{nombre}}
    <button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">
        Logout
    </button>
</h1>

<div class="jumbotron">
    <h1>Insert a product</h1>
    <br>

    <form autocomplete="off">
        <!-- Title -->
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" class="form-control" type="text" name="title" required>
        </div>

        <!-- Price -->
        <div class="form-group">
            <label for="price">Price</label>
            <input id="price" class="form-control" type="number" step="0.01" name="price" required>
        </div>

        <!-- Image URL -->
        <div class="form-group">
            <label for="image">Image URL</label>
            <input id="image" class="form-control" type="url" name="thumbnail">
        </div>

        <!-- Submit button -->
        <button class="btn btn-success mt-3">Submit</button>
    </form>

    <div class="mt-5" id="data"></div>
</div>

<div class="jumbotron" id="chat">
    <h1>Chat (Compression: <span id="compresion-info"></span>%)</h1>
    <br>
    <input type="text" id="username" class="form-control w-50 my-2 mr-2" placeholder="Email">
    <input type="text" id="firstname" class="form-control w-50 my-2 mr-2" placeholder="First name">
    <input type="text" id="lastname" class="form-control w-50 my-2 mr-2" placeholder="Last name">
    <input type="text" id="age" class="form-control w-50 my-2 mr-2" placeholder="Age">
    <input type="text" id="alias" class="form-control w-50 my-2 mr-2" placeholder="Alias">
    <input type="text" id="avatar" class="form-control w-50 my-2 mr-2" placeholder="URL to your avatar" value="https://cdn4.iconfinder.com/data/icons/aami-web-internet/64/aami14-41-512.png">
    <hr>
    <div id="messages"></div>

    <form class="form-inline mt-3" onsubmit="addMessage(event)" autocomplete="off">
        <input disabled type="text" id="text" class="form-control my-2 mr-2" placeholder="Your message...">
        <input disabled id="send" class="btn btn-primary my-2" type="submit" value="Submit!">
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
<script src="js/handlebars-v4.7.6.js"></script>
<script src="js/main.js"></script>
<script src="js/chat.js"></script>
